.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.res {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.btn {
  text-transform: uppercase;
  border: 1px solid black;
  padding: 4px;
}
.title{
  font-size: 30px;
  color: #41cdba;
}
